img {
  width: 200px;
  border: 2px solid rgba(128, 128, 128, 0.151);
  border-radius: 50%;
}

.container {
  margin-top: 4em;
  display: flex;
  margin-left: 20rem;
  gap: 3rem;
}

button {
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  width: 100px;
  height: 100px;
  padding: 0 1rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;
}

.circleParent {
  margin-top: 2em;
  display: flex;
  gap: 3rem;
}

.btn-color {
  background-color: rgb(121, 0, 0);
}
.btn-color2 {
  background-color: rgba(117, 2, 2, 0.548);
}
.btn-color3 {
  background-color: rgba(112, 3, 3, 0.377);
}
.description {
  width: 70%;
}
